python manage.py runserver{% extends 'app/base.html' %}
{% load static %}
{% load humanize %} 

{% block title %}Sản phẩm {{ current_brand.name }}{% endblock title %}

{% block main_content %}
<div class="container my-5">




        <div class="col-lg-9">
            <div class="row">
                {% for product in products %}
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card product-card h-100 shadow-sm border-0">
                        <a href="{% url 'product_detail' product.id %}">
                             <img src="{{ product.ImageURL }}" class="card-img-top p-3" alt="{{ product.name }}">
                        </a>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title fw-bold">{{ product.name }}</h5>
                            <p class="card-text text-danger fs-5 mt-auto">{{ product.price|floatformat:0|intcomma }}₫</p>
                            <button data-product="{{product.id}}" data-action="add" class="btn btn-primary btn-sm update-cart">
                                Thêm vào Giỏ hàng
                            </button>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12 text-center py-5">
                    <p class="h4 text-muted">Không tìm thấy sản phẩm nào của hãng {{ current_brand.name }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>
{% endblock main_content %}